Cython==0.29.14
pyquery==1.4.1
numpy==1.17.4
keyring==20.0.0
pywin32==227
cryptography==2.8
selenium==3.141.0
lxml==4.4.2
brotli==1.0.7
ipaddr==2.2.0
ordereddict==1.1
protobuf==3.11.3
pyOpenSSL==19.1.0
PyYAML==5.3.1
wincertstore==0.2
